@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
  color: #7a7a7a;
  line-height: 1.6rem;
}

body {
  scroll-behavior: smooth;
  position: relative;
  background: #f3f3f3;
}

body .btn1 {
  border: none;
  background: none;
}

body input[type="radio"] {
  border: 0px;
  height: 2em;
  width: 50%;
}

body .flex-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .flex-box1 h3:hover {
  color: #3cb4ac;
}

body .flex-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body h2 {
  color: black;
  padding: 1rem 0;
}

body .blocked {
  display: none;
}

body .btn {
  border: none;
  background: none;
  padding: 1rem 1rem;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
}

body .green-btn {
  background: #3cb4ac;
}

.green-font {
  color: #3cb4ac;
}

#container {
  background: #f3f3f3;
}

#container .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#container p {
  margin: 1.3rem 0;
}

#container .grey-btn {
  background: gray;
}

#back {
  background: url(images/image-hero-mobile.jpg);
  height: 65vh;
  background-position-y: -70px;
}

#back #nav {
  padding: 1.5rem;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#back #nav #menu1 {
  background: none;
  border: none;
  outline: none;
}

#back #nav .menu-bar {
  position: absolute;
  background: white;
  width: 90%;
  right: 0;
  margin: 15% 5%;
  border-radius: 0.8rem;
  text-align: left;
  z-index: 1;
  -webkit-box-shadow: 1px 0 1px 1px white;
          box-shadow: 1px 0 1px 1px white;
}

#back #nav .menu-bar .menu-bar-item {
  padding: 1rem;
  border-bottom: 1px solid #f3f3f3;
}

#back #nav .menu-bar .menu-bar-item a {
  text-decoration: none;
  color: black;
}

#back #nav .menu-bar .menu-bar-item:nth-child(3) {
  border-bottom: none;
}

#logo-master {
  position: relative;
  top: -30px;
}

.main-noclick {
  opacity: 0.3;
  pointer-events: none;
}

#main {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: -130px;
}

#main #left {
  text-align: left;
}

#main .block {
  text-align: center;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 0 10px 1px #ebe9e9;
          box-shadow: 0 0 10px 1px #ebe9e9;
  padding: 1rem 1.2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  background: white;
}

#main .block #bookmark {
  padding: 0;
}

#main .block .btn-text {
  color: white;
  font-size: 1.2rem;
  padding: 0;
}

#main .block .num-big {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
  padding: 1rem 0 1.3rem 0;
}

#main .block .num::after {
  content: "__________________";
  font-size: 1rem;
}

#main .block .num:nth-child(3)::after {
  content: "";
  padding: 10px;
}

#main .block #bar {
  background: #f3f3f3;
  border-radius: 50px;
  width: 90%;
  margin: 0 auto;
}

#main .block #bar-in {
  background: #3cb4ac;
  width: 80%;
  padding: 0.4rem;
  border-radius: 50px;
}

.about {
  text-align: left;
  padding: 1rem 1rem;
  background: white;
  border-radius: 10px;
}

.about .flex-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about .block-small {
  border: 1px solid #bdbdbd;
  border-radius: 1rem;
  width: 95%;
  margin: 1rem auto;
}

.about .block-small .green-font {
  color: #3cb4ac;
}

.about .block-small .padding1 p {
  padding-top: 1rem;
}

.about h3 {
  color: black;
  font-size: 16px;
  font-weight: bolder;
}

.about .num-small {
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
}

.about .margin-right {
  margin-right: 1rem;
}

.about .btn-text {
  font-size: 1rem;
  color: white;
}

.about .out {
  background: #f8f8f8;
  opacity: 0.5;
  pointer-events: none;
}

.about .out .flex {
  margin-top: 1rem;
}

.about .out p {
  margin-top: 1rem;
}

.about .selected {
  border: 2px solid #3cb4ac;
}

.backthis {
  position: absolute;
  width: 85%;
  margin: 0 7.5%;
  top: 10em;
}

#close-btn {
  -webkit-filter: invert(50%);
          filter: invert(50%);
}

#modal-selection {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px white;
          box-shadow: 1px 1px 3px 2px white;
}

.hidden-block-small {
  padding: 1rem 0rem;
  text-align: center;
  border-top: 2px solid #d4d4d4;
}

.hidden-block-small button {
  padding: 0.8rem 2rem;
}

.hidden-block-small button span {
  color: grey;
  font-weight: bolder;
  margin-right: 0.5rem;
}

.hidden-block-small .button-grey-back {
  border: 1px solid #d4d4d4;
}

.hidden-block-small .num-small1 {
  font-size: 1.1rem;
}

.hidden-block-small input {
  width: 40px;
  border: none;
  background: none;
  outline: none;
}

.padding1 {
  padding: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom p {
  margin-bottom: 1rem;
}

.back1 {
  width: 85%;
  margin: 0 7.5%;
  position: absolute;
  top: 10rem;
  -webkit-box-shadow: 1px 1px 3px 2px white;
          box-shadow: 1px 1px 3px 2px white;
  border-radius: 10px;
}

.back1 #success {
  text-align: center;
}

.back1 #success p {
  padding-bottom: 2rem;
}

.back1 #success button {
  font-weight: bolder;
}

@media (min-width: 700px) {
  body .flex-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #container #back {
    background: url("images/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #container #back #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #container #back #nav #im {
    width: 50%;
  }
  #container #back #menu1 {
    display: none;
  }
  #container #back #menu {
    position: relative;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
  }
  #container #back #menu .menu-bar-item {
    padding: 0;
    border: none;
  }
  #container #back #menu .menu-bar-item h2 {
    padding: 0 1rem;
    border: none;
  }
  #container #back #menu a {
    color: white;
    font-size: 1rem;
    font-weight: normal;
  }
  #container #main {
    width: 70%;
    margin: 0 auto;
  }
  #container #main .block p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  #container #main .block .bmrk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f3f3f3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #container #main .block .bmrk h3 {
    margin-left: 1rem;
    padding-right: 2rem;
  }
  #container #main .block .bmrk h3:hover {
    color: #3cb4ac;
  }
  #container #main #stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #container #main #stats .num::after {
    content: "____________";
    font-size: 1rem;
    display: inline-block;
    color: #f3f3f3;
    -webkit-transform: translateX(120px) rotate(90deg) translateX(-45px);
            transform: translateX(120px) rotate(90deg) translateX(-45px);
  }
  #container #main #stats .num:nth-child(3)::after {
    content: "";
    padding: 10px;
  }
  .backthis {
    width: 70%;
    margin: auto 15%;
  }
  .backthis .grid2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .backthis .grid2 input[type="radio"] {
    width: 15%;
  }
  .backthis .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90% 10%;
        grid-template-columns: 90% 10%;
  }
  .backthis .grid .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .backthis .grid .flex h3 {
    margin-right: 1rem;
  }
  .backthis .grid .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .backthis .grid .cen2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .hidden-block-small {
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .hidden-block-small .btn {
    margin-right: 0.4rem;
  }
  .hidden-block-small .button-grey-back {
    border: 1px solid #d4d4d4;
    padding: 0.8rem 1.5rem;
  }
  .back1 {
    width: 30%;
    margin: auto 35%;
    top: 35rem;
    -webkit-box-shadow: 3px 3px 1px 1px white;
            box-shadow: 3px 3px 1px 1px white;
  }
  .back1 .about {
    padding: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */