@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

$Dark-gray: hsl(0, 0%, 48%);
$Moderate-cyan: #3cb4ac;
$Dark-cyan: #147b74;
$Black: hsl(0, 0%, 0%);
$light-grey:#f3f3f3;;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    color: $Dark-gray;
    line-height: 1.6rem;
}

body{
    scroll-behavior: smooth;
    position: relative;
    background: $light-grey;
    .btn1{
        border:none;
        background: none;
    }
    input[type="radio"]{
        border:0px;
        height:2em;
        width: 50%;
    }   
    .flex-box1{
        display: flex;
        align-items: center;
        h3:hover{
            color:$Moderate-cyan;
        }
    }
    .flex-box3{
        display: flex;
        justify-content:space-between;
        align-content: flex-end;
        align-items: flex-end;
    }
    h2{
        color: $Black;
        padding: 1rem 0;
    }
    
    .blocked{
        display: none;
    }

    .btn{
        border:none;
        background: none;
        padding: 1rem 1rem;
        border-radius: 100px;
        cursor: pointer;
        outline: none;
    }

    .green-btn{
        background: $Moderate-cyan;
    }
}
.green-font{
    color: $Moderate-cyan;
}

#container{
    background: $light-grey;
    .flex-box{
        display: flex;
        justify-content: space-evenly;
    }
    p{
        margin: 1.3rem 0;
    }
    .grey-btn{
        background: gray;
    }
}

#back{
    background: url(images/image-hero-mobile.jpg);
    height: 65vh;
    background-position-y: -70px;
    #nav{
        padding: 1.5rem;
        padding-top: 3rem;
        display: flex;
        justify-content: space-between;
        #menu1{
            background: none;
            border: none;
            outline: none;
            }
 
            .menu-bar{
                position: absolute;
                background: white;
                width: 90%;
                right:0;
                margin: 15% 5%;
                border-radius: 0.8rem;
                text-align: left;
                z-index: 1;
                box-shadow: 1px 0 1px 1px white;
                

                .menu-bar-item{
                    padding: 1rem;
                    border-bottom: 1px solid$light-grey;

                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                .menu-bar-item:nth-child(3){
                    border-bottom: none;
                }

        }
    }
}

#logo-master{
    position: relative;
    top:-30px;
}

.main-noclick{
    opacity: 0.3;
    pointer-events: none;
}

#main{
    width:85%;
    margin: 0 auto;
    position:relative;
    top:-130px;
    
    #left{
        text-align: left;
    }

    .block{
        text-align: center;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px 1px rgb(235, 233, 233);
        padding: 1rem 1.2rem;
        padding-bottom: 2rem;
        border-radius: 10px;
        background:white;

        #bookmark{
            padding:0;
            
        }

        .btn-text{
            color: white;
            font-size: 1.2rem;
            padding: 0;
        }

        .num-big{
            font-size: 2rem;
            font-weight: bolder;
            color: $Black;
            padding: 1rem 0 1.3rem 0;
        }

        .num::after{
            content: "__________________"; 
            font-size: 1rem;
        }
        .num:nth-child(3)::after{
            content: "";
            padding: 10px;
        }

        #bar{
            background: $light-grey;
            border-radius: 50px;
            width: 90%;
            margin: 0 auto;
        }
        #bar-in{
            background: $Moderate-cyan;
            width:80%;
            padding: 0.4rem;
            border-radius: 50px;;
        } 
    }
}


.about{
    text-align:left;
    padding: 1rem 1rem;
    background: white;
    border-radius: 10px;

    .flex-box2{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    // .flex-box2{
    //     display: block;
    // }


    .block-small{
        border:1px solid rgb(189, 189, 189);
        border-radius: 1rem;
        width: 95%;
        margin: 1rem auto;
        .green-font{
            color: $Moderate-cyan;
        }
        .padding1{
            h3{
                //padding-top: 1rem;
            }
            p{
                padding-top: 1rem;
            }
        }
        .grid2{
            // display: grid;
            // grid-template-columns: 20% 80%;
            // align-items: start;
            // .rad{
            //     grid-row: 1;
            //     grid-column: 1;
            // }
        }
    }
        
    h3{
        color: $Black;
        font-size: 16px;
        font-weight: bolder;
    }

    .num-small{
        font-size: 1.3rem;
        font-weight: bolder;
        color:$Black;
    }

    

    .margin-right{
        margin-right: 1rem;
    }

    .btn-text{
        font-size: 1rem;
        color: white;
    }


    .out{
        background: rgb(248, 248, 248);
        opacity: 0.5;
        pointer-events: none;
        .flex{
            margin-top: 1rem;
        }
        p{
            margin-top: 1rem;
        }
    }
    
    .selected{
        border:2px solid $Moderate-cyan;
    }
    
}

.backthis{
    position:absolute;
    width:85%;
    margin: 0 7.5%;
    top:10em;
}


#close-btn{
    filter:invert(50%);
}

#modal-selection{
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px white;
}
    

.hidden-block-small{
    padding:1rem 0rem;
    text-align: center;
    border-top: 2px solid #d4d4d4;
    
    button{
        padding: 0.8rem 2rem;
        span{
            color: grey;
            font-weight: bolder;
            margin-right: 0.5rem;
        }
    }

    .button-grey-back{
        border: 1px solid #d4d4d4;
        // padding:0.8rem 1.5rem;
    }   
    .num-small1{
        font-size: 1.1rem;
    }

    input{
        width: 40px;
        border:none;
        background: none;
        outline: none;
    }
}

.padding1{
    padding:1rem;
}

.margin-bottom{
    margin-bottom: 1rem;
    p{
        margin-bottom: 1rem;
    }
}

.back1{
    width:85%;
    margin: 0 7.5%;
    position: absolute;
    top:10rem;
    box-shadow: 1px 1px 3px 2px white;
    border-radius: 10px;
    #success{
        text-align: center;
        p{
            padding-bottom: 2rem;
        }
        button{
            font-weight: bolder;
        }
    }
}

@media(min-width:700px){
    body{
        .flex-box2{
            display: flex;
            justify-content:space-between;
        }
    }
    #container{
        #back{
            background:url("images/image-hero-desktop.jpg");
            background-size: cover;
            background-repeat: no-repeat;

            #nav{
                display: flex;
                #im{
                    width: 50%;
                }

            }

            #menu1{
                display: none;
            }

            #menu{
                position: relative;
                display: block;
                display: flex;
                width: auto;
                margin: 0;
                border:none;
                box-shadow: none;
                background: none;
                
                .menu-bar-item{
                    padding: 0;
                    border:none;
                   
                    h2{
                        padding:0 1rem ;
                        border: none;
                    }
                }
                a{
                    color: white;
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
        }
        #main{
            width: 70%;
            margin: 0 auto;

            .block{
                p{
                    margin-top: 0;
                    margin-bottom: 2rem;
                }

                .bmrk{
                    display: flex;
                    background: $light-grey;
                    align-items: center;
                    h3{
                        margin-left: 1rem;
                        padding-right: 2rem;
                    }
                    h3:hover{
                        color: $Moderate-cyan;
                    }
                }
            }

           #stats{
               display: flex;
               justify-content: space-evenly;
                .num::after{
                    content: "____________"; 
                    font-size: 1rem;
                    display: inline-block;
                    color: $light-grey;
                    transform: translateX(120px) rotate(90deg) translateX(-45px)
                }
                .num:nth-child(3)::after{
                    content: "";
                    padding: 10px;
                }
           }
        }
    }
    .backthis{
        width: 70%;
        margin: auto 15%;

        .grid2{
            display: flex;
            input[type="radio"]{
                width: 15%;
            }
        }
        .grid{
            display: grid;
            grid-template-columns: 90% 10%;
            .flex{
                display: flex;
                h3{
                    margin-right: 1rem;
                }
            }
            .right{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
            .cen2{
                grid-row: 2;
                grid-column:1/3;
            }
        }
    }

    .hidden-block-small{
        padding-left: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        .btn{
            margin-right: 0.4rem;
        }
        .button-grey-back{
            border: 1px solid #d4d4d4;
            padding:0.8rem 1.5rem;
        }   
    }

    .back1{
        width: 30%;
        margin:auto 35%;
        top:35rem;
        box-shadow: 3px 3px 1px 1px white;
        .about{
            padding: 2rem;
        }
    }

}