@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

$Dark-gray: hsl(0, 0%, 48%);
$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$light-grey:#f3f3f3;;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    color: $Dark-gray;
    line-height: 1.6rem;
}


#container{
    background: $light-grey;
    h2{
        color: $Black;
    }

    .flex-box{
        display: flex;
        justify-content: space-evenly;
    }

    .flex-box1{
        display: flex;
        align-items: center;
    }

    p{
        margin: 1.3rem 0;
    }

}

#back{
    background: url(images/image-hero-mobile.jpg);
    height: 65vh;
    background-position-y: -70px;
    #nav{
        padding: 1.5rem;
        padding-top: 3rem;
        display: flex;
        justify-content: space-between;
        #menu{
            background: none;
            border: none;
            outline: none;
            }
            
            .blocked{
                display: none;
            }
            
            .menu-bar{
                position: absolute;
                background: white;
                width: 90%;
                right:0;
                margin: 15% 5%;
                border-radius: 0.8rem;
                text-align: left;
                z-index: 1;
                box-shadow: 1px 0 1px 1px white;
                

                .menu-bar-item{
                    padding: 2rem;
                    border-bottom: 1px solid$light-grey;

                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                .menu-bar-item:nth-child(3){
                    border-bottom: none;
                }

        }
    }
}

#logo-master{
    position: relative;
    top:-30px;
}

.main-noclick{
    opacity: 0.6;
    pointer-events: none;
}

#main{
    width:85%;
    margin: 0 auto;
    position:relative;
    top:-130px;
    

    .block{
        text-align: center;
        margin-bottom: 1rem;
        box-shadow: 0 0 10px 1px rgb(235, 233, 233);
        padding: 1  rem 1.2rem;
        padding-bottom: 2rem;
        border-radius: 10px;
        background:white;

        .btn{
            border:none;
            background: none;
            padding: 1rem 3rem;
            border-radius: 100px;
            cursor: pointer;
        }

        .green-btn{
            background: $Moderate-cyan;
        }

        #bookmark{
            padding:0;
        }

        .btn-text{
            color: white;
            font-size: 1.2rem;
        }

        .num-big{
            font-size: 2.5rem;
            font-weight: bolder;
            color: $Black;
            padding: 1rem 0 1.3rem 0;
        }

        .num::after{
            content: "__________________"; 
            font-size: 1rem;
        }
        .num:nth-child(3)::after{
            content: "";
            padding: 10px;
        }

        #bar{
            background: $light-grey;
            border-radius: 50px;
            width: 90%;
            margin: 0 auto;
        }
        #bar-in{
            background: $Moderate-cyan;
            width:80%;
            padding: 0.4rem;
            border-radius: 50px;;
        } 
    }

    .about{
        text-align:left;
        padding: 1rem 1rem;
    

        .block-small{
            padding: 1rem;
            border:1px solid rgb(189, 189, 189);
            border-radius: 1rem;
            width: 95%;
            margin: 1rem auto;
        }
            
        h3{
            color: $Black;
            font-size: 16px;
            font-weight: bolder;
        }

        .green-font{
            color: $Moderate-cyan;
        }

        .margin-right{
            margin-right: 1rem;
        }

        .btn-text{
            font-size: 1rem;
            color: white;
        }

        .grey-btn{
            background: gray;
        }

        .out{
            background: rgb(248, 248, 248);
            opacity: 0.5;
        }

    }
}




 